.menuItemDescription {
    overflow: hidden;
    width: 16rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.menuItemCard {
    width: 300px;
    transition: ease-out width 1s, ease-out background-color 1s;
}

    .menuItemCard:hover {
        width: 350px;
        background-color: gray;
        padding: 0px;
    }

.menuItemImg{
    height: 250px;
}
