@page
@model PizzaPlace.Pages.Admin.Modify.Role.ModifyModel

@{
    ViewData["Title"] = "Modify role";
}

<h3 style="color: rgb(65,41,46)">Modify role</h3>

<div class="container-fluid">
    <div class="row justify-content-center p-2 w-100">
        <div class="col">
            <fieldset class="border rounded" p-2 m-2>
                <legend style="color: rgb(65,41,46)">Modify role</legend>
                <form class="p-2" style="background: rgb(255,255,255); background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(237,130,55,1) 100%);" asp-page="/Admin/Modify/Role/Modify" method="post" onsubmit="return validateForm()">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input type="text" asp-for="@Model.Role.Id" name="id" class="form-control" hidden />

                    <div class="form-group">
                        <label class="control-label" asp-for="@Model.Role.Name"><span class="text-danger">*</span>Name</label>
                        <input type="text" asp-for="@Model.Role.Name" name="Name" class="form-control" required placeholder="Enter role name" />
                        <span asp-validation-for="@Model.Role.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit role" class="btn" style="background-color: rgb(255,223,206); color: rgb(65,41,46); font-weight:bolder" />
                    </div>
                </form>
            </fieldset>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/js/RequiredDataValidator.js"></script>
}

